
    *{
    }
.best-product-detail-list{
   width: 1050px;
    padding-bottom:500px;
}

.delivery-text{
	color:#f3f4f5;
}
.best-productview{
    
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1050px;
}

.best-productview-list{
    display:flex;
}
.best-producttotalnum{
        padding-top: 70px;
    padding-bottom: 50px;
  
}

.best-productview-list-preview{
    padding-bottom: 50px;
    padding-right:15px;
}

.best-productpaging{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 36px;
}
.best-productpageing-2:first-of-type{
    border-left: 1px solid rgb(221, 221, 221);
}
.best-productpaging-2{
    
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    border-top: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
    border-bottom: 1px solid rgb(221, 221, 221);
    border-left: 1px solid rgb(221, 221, 221);
    border-image: initial;

    cursor: pointer;
    
}
.best-productpaging-3{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    border-top: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
    border-bottom: 1px solid rgb(221, 221, 221);
    border-left: 1px solid rgb(221, 221, 221);
    border-image: initial;
    border-left: none;
    cursor: pointer;
    background-color: rgb(247, 247, 247);
    color: navy;
}
a{background-color: transparent;
    text-decoration: none;
    color: inherit;}

   
    .best-product-text {
    padding-top: 5px;
}

.best-producttotalnumber
{      border-bottom: navy 1px solid;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 800;
}

.best-productview-list-preview product-text img{
	width:250px;
	height:320px;
}
