* 
{
    padding: 0;
    margin: 0;
}
.cart-main{
	width:840px;
}

.cart-text01 {
	text-align: center;
    margin-bottom: -2px;
    padding-top: 75px;
}

#cart-ch{
    display: flex;
    font-size: 15px;
    align-items: center;
    margin-bottom: 9px;
    padding-right: 6px;
    flex-direction: row-reverse;
}

#cart-ch input{
	margin-right: 5px;
}

.cart-text02{
	 display: flex;
    justify-content: space-between;
    border-top: 4px solid #0C4A60;
    border-bottom: 4px solid #0C4A60;
    padding: 7px;
    margin-top: 17px;
}

.cart-text03{
	margin-top: 49px;
    padding-right: 309px;
}

.cart-image{
	width:150px;
	height:150px;
	padding: 17px;
}	

.cart-info{
	display: flex;
    justify-content: space-around;
    margin: 9px;
}

#cartShowBtn, #cartHideBtn {
	border:none;
	background-color:#FFFFFF;
	
	
}

.choice-8{
display: flex;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    right: 96px;
    }
    
.choice-9{
    display: inline-flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid rgb(221, 223, 225);
    width: 88px;
    border-radius: 3px;
}

.choicebutton-down{
display: inline-flex;
    width: 28px;
    height: 28px;
    border: none;
    font-size: 1px;
    color: transparent;
    background-size: cover;
    background-color: transparent;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAzMCAzMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0yMCAxNHYySDEwdi0yeiIgZmlsbD0iI0RERCIgZmlsbC1ydWxlPSJub256ZXJvIi8+Cjwvc3ZnPgo=);
    vertical-align: top;
}
    
.choice-10{    display: inline-flex;
    overflow: hidden;
    white-space: nowrap;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    color: rgb(51, 51, 51);
    text-align: center;
    width: 31px;
    height: 28px;
    line-height: 28px;
}    

.choicebutton-up{
display: inline-flex;
    width: 28px;
    height: 28px;
    border: none;
    font-size: 1px;
    color: transparent;
    background-size: cover;
    background-color: transparent;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAzMCAzMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0xNiAxMHY0aDR2MmgtNHY0aC0ydi00aC00di0yaDR2LTRoMnoiIGZpbGw9IiMzMzMiIGZpbGwtcnVsZT0ibm9uemVybyIvPgo8L3N2Zz4K);
    vertical-align: top;
    }
    
.choice-11{
	position:relative;
	left:97px;
}

.cart-cost{
	text-align: center;
    height: 51px;
    padding-top: 11px;
    background-color: #ABDFF1;
}