
    *{
margin: 0;}

h5{
    color:#454545;
}

.findidresult{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.findidresult-detail{
    padding-top: 150px;
    text-align: center;
}

.findidresult-title{
    padding-bottom:10px;
}

.findidresultview{
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    display:inline-block;
}

.idview{
    text-align: center;
    
}
.idlocation{
    display: flex;
    align-content: stretch;
    justify-content: center;
    padding-top: 100px;
}
.findidresultview-2{
    width: 500px;
    height: 250px;
    line-height: 125px;
    border: 2px solid #d1d1e0;
}

.findidresult-next{
    display:flex;
    justify-content: space-evenly;
    padding: 50px 0 150px 0;
}
.findidresult-login-button, .findidresult-pwdfind-button{font-weight: 500;
    display: block;
    padding: 0 10px;
    text-align: center;
    overflow: hidden;
    width: 150px;
    height: 52px;
    border-radius: 3px;
    color: #fff;
    background-color: #000066;
    border: 0 none;

    }
   .findidresult-title{
   
    }
    