.proW {
	display: flex;
    align-items: center;
    margin-top: 70px;
    margin-left: 16px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.text001{
	width: 324px;
}

.text01 {
	margin-top: 8px;
    font-size: 12px;
    margin-left: 180px;
}


.join_censel_btn {
   display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 110px;
    height: 33px;
    border-radius: 3px;
    color: #000000;
    background-color: #ffffff;
    border: 2px solid rgb(51, 51, 51);
}

.join_end_btn {
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 110px;
    height: 33px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: #000060;
    border: 0px none;
}
    
.form_end {
    border-top: 1px solid rgb(247, 247, 247);
}

.title{
	border: none;
	border-bottom: #ABDFF1 3px solid;
    border-top: #ABDFF1 3px solid;
}

#title01{
	width: 150px;
}

#title02{
	width: 261px;
}

#title03{
	width: 125px;
}

#title001{
	border: none;
}


.btn-outline-secondary_addressBtn01{
--bs-btn-color: #6c757d;
    --bs-btn-border-color: #6c757d;
    --bs-btn-hover-color: #000000;
    /* --bs-btn-hover-bg: #6c757d; */
    /* --bs-btn-hover-border-color: #6c757d; */
    --bs-btn-focus-shadow-rgb: 108,117,125;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #6c757d;
    --bs-btn-active-border-color: #6c757d;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000000;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #6c757d;
    --bs-gradient: none;
    border: none;
    margin-left: -5px;
}