	/*input type number속성 옆 버튼 없애기*/
	input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
}
	.input-form{
		position: relative;
	}
	#join_input{
		width: 700px;
		margin: 0 auto;
		margin-top: 64px;
	}
	#join_title{
    font-size: 28px;
    line-height: 35px;
    font-weight: 1000;
    letter-spacing: -1px;
	}
	#join_Basic_input_text{
	padding-bottom: 9px;
    border-bottom: #ABDFF1 3px solid;
    font-size: 12px;
    color: rgb(102, 102, 102);
    line-height: 17px;
    text-align: right;
	}
	.redText{
		color: red;
	}
	.form_info{
		display: flex;
		width: 100%;
   		padding: 10px 20px;
	}
	.form_label_box{
		width: 139px;
    	padding-top: 12px;
	}
	.form_label{
		font-weight: 1000;
    	line-height: 20px;
	}
	.form_value_box{
		flex:1%;
	}
	.form_button_box{
		width: 120px;
		margin-left: 8px;
	}
	.form_radio{
		padding-top:12px;
	}
	#form_join_type2{
		margin-left: 20px;
	}
	.form_input_box{
		padding-bottom: 0px;
		height: 48px;
		position: relative;
	}
	.join_input_box{
		width: 100%;
    	height: 46px;
    	padding: 0px 11px 1px 15px;
    	border-radius: 4px;
    	font-weight: 400;
    	font-size: 16px;
    	line-height: 1.5;
    	color: rgb(51, 51, 51);	
    	box-sizing: border-box;
	}
	.join_input_box2{
		height: 46px;
    	padding: 0px 11px 1px 15px;
    	border-radius: 4px;
    	font-weight: 400;
    	font-size: 16px;
    	line-height: 1.5;
    	color: rgb(51, 51, 51);	
    	box-sizing: border-box;
	}
	.conditionText{
		font-size: 14px;
		color:  rgb(221, 221, 221);
	}
	#idCheckMessage{
		font-size: 14px;
	}
	.hideConditionText{
		display: none;
	}
	.btn{
		height: 44px;
	}
	.phone{
		width: 118px;
		display: inline;
	}
	#sample6_extraAddress{
		display: inline;
		width: 200px;
	}
	#sample6_detailAddress{
		display: inline;
		width: 310px;
	}
	.join_input_birth{
		width: 100%;
    height: 40px;
    padding: 0px 11px 1px 15px;
    border-radius: 4px;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 38px;
    color: rgb(51, 51, 51);
    outline: none;
    box-sizing: border-box;
	text-align: center;
	}
	.join_input_birth:focus{
		outline: none;
	}
	#join_birth_box{
		height: 44px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
	justify-content: center;
    width: 100%;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 3px;
    padding: 0px 15px;
	}
	.join_brith_bar{
		font-size: 14px;
    color: rgb(204, 204, 204);
    text-align: center;
    line-height: 40px;
	}
	.join_bottom_bar{
		padding: 10px 0px;
   		border-bottom: #ABDFF1 3px solid;
	}
	.form_agree{
		display: inline-flex;
    width: 100%;
    padding: 10px 0px 10px 20px;
	}
	.form_agree_box{
		display: flex;
    padding: 8px 0px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
	}
	.form_agree_box:first-of-type {
		align-items: flex-start;
    flex-direction: column;
    padding-top: 12px;
	}
	.agree_box_text{
		font-size: 12px;
    color: rgb(102, 102, 102);
    padding-top: 4px;
    padding-left: 36px;
	}
	.form_check_label{
		position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    vertical-align: top;
    line-height: normal;
    color: rgb(51, 51, 51);
    padding: 0px;
    font-weight: 500;
    font-size: 18px;
	}
	.form_label_text{
		padding-left: 10px;
	}
	.form_agree_start{
		padding: 0px;
		height: 135px;

	}
	.form_yn_agree{
		padding: 14px 8px 9px 0px;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    vertical-align: top;
    line-height: normal;
    color: rgb(51, 51, 51);
    font-size: 14px;
	}
	.form_agree_box2{
		
		display: flex;
    padding: 8px 0px;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    align-items: center;
	}
	.form_end{
		display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    border-top: 1px solid rgb(247, 247, 247);
    padding: 40px 0px;
	}
	.join_end_btn{
		display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 240px;
    height: 56px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: #000060;
    border: 0px none;
	}
	#join_btn_text{
		display: inline-block;
    font-size: 16px;
    font-weight: 1000;
}
.emailNumBtn{
	color: white;
	font-weight: 500;
    letter-spacing: -2px;
}
#checkEamil{
	display:none;
}
.ownerInfo{
		display: none;
	}
	.owner_address{
		display:none;
	}