.proW {
	display: flex;
    align-items: center;
    margin-top: 70px;
    margin-left: 16px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.text01 {
	margin-left: 373px;
    margin-top: 4px;
    font-size: 12px;
}

#title001{
	border: none;
}

.title{
	border-bottom: #000000 3px solid;
}

.join_censel_btn {
   display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 110px;
    height: 33px;
    border-radius: 3px;
    color: #000000;
    background-color: #ffffff;
    border: 2px solid rgb(51, 51, 51);
}

.join_end_btn {
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 240px;
    height: 56px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: #000060;
    border: 0px none;
}
    
.form_end {
    border-top: 1px solid rgb(247, 247, 247);
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

 
 .text02{ 
	 margin-top: 65px;
 }

 .coupon01{
	border-bottom: #ABDFF1 3px solid;
    border-top: #ABDFF1 3px solid;
    height: 120px;
}

.join_end_btn{
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 110px;
    height: 33px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: #000060;
    border: 0px none;
    margin-left: 5px;
    }
 
 .form_value_box{
	position: relative;
    bottom: 62px;
    right: 118px;
}

.couptext01{
	display: flex;
    align-items: baseline;
}

.form-control{
	width: 269px;
}