.want01 {
    padding-bottom: 15px;
}
.review_text {
    position: relative;
    padding-left: 70px;
    margin-top: -45px;
    left: 125px;
    color: lightgray;
    top: 12px;
}
		.reviewBox {
    padding-top: 15px;
    padding-bottom: 100px;
    display:flex;
}
.reviewBoxDetail {
    padding-left: 15px;
    width:260px
}
.productNaming {
    border: none;
    font-size: 30px;
    }
    form {
    width: 260px;
}
.proW {
    /* display: flex; */
    align-items: center;
    margin-top: 70px;
    margin-left: 16px;
    padding-left: 20px;
    padding-bottom: 10px;
    position: relative;
    top: 55px;
    left: -15px;
}

.pwant {
    /* display: flex; */
    border-bottom: #000060 2px solid;
    position: relative;
    top: -100px;
width: 945px;
}
.review01{
	width: 393px;
}

.review02{
	margin-top: 64px;
}

 /* 탭 스타일 */
        .tabs {
            list-style: none;
            padding: 0;
        }
        .tab-link {
            display: inline-block;
            padding: 10px 20px;
            cursor: pointer;
            border-bottom: 2px solid #000060;
            margin-right: 5px;
        }
        .tab-link.active {
            background-color: #E1DDDB;
        }
        /* 탭 컨텐츠 스타일 */
        .tab-content {
            display: none;
        
        }
        .tab-content.active {
            display: block;
        }
        .tabContainer{
            width: 840px;
            margin: 0 auto;
        }
 
 
 
 #asd{
	margin-bottom: 0px;
}

.qwe{
	width: 528px;
	margin-left: 20px;
	display: flex;
    flex-direction: column;
   padding-top: 20px;
    padding-bottom: 10px;
    width: 260px;
}

.text04{
	text-align: center;
    width: 155px;
}
 
.want_02{
	display: flex;
    justify-content: flex-start;
    align-items: center;
      margin-left: 20px;
    padding-top: 20px;
}

.review_btn{
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 110px;
    height: 33px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: #000060;
    border: 0px none;
    }
    
.form_end{
	    margin-left: 715px;
    margin-top: -45px;
}

.detail_01{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
input.productNaming {
    font-size: 17px;
    color: slategray;
}
input:focus {outline:none;}
.review_add_btn {
    padding-top: 10px;
}