
    *{
    }
.product-detail-list{
   width: 1050px;
    padding-bottom:500px;
}

.delivery-text{
	color:#f3f4f5;
}
.productview{
    
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1050px;
}

.productview-list{
    display:flex;
}
.producttotalnum{
        padding-top: 70px;
    padding-bottom: 50px;
  
}

.productview-list-preview{
    padding-bottom: 50px;
    padding-right:15px;
}

.productpaging{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 36px;
}
.productpageing-2:first-of-type{
    border-left: 1px solid rgb(221, 221, 221);
}
.productpaging-2{
    
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    border-top: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
    border-bottom: 1px solid rgb(221, 221, 221);
    border-left: 1px solid rgb(221, 221, 221);
    border-image: initial;

    cursor: pointer;
    
}
.productpaging-3{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    border-top: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
    border-bottom: 1px solid rgb(221, 221, 221);
    border-left: 1px solid rgb(221, 221, 221);
    border-image: initial;
    border-left: none;
    cursor: pointer;
    background-color: rgb(247, 247, 247);
    color: navy;
}
a{background-color: transparent;
    text-decoration: none;
    color: inherit;}

   
    .product-text {
    padding-top: 5px;
}

.producttotalnumber
{      border-bottom: navy 1px solid;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 800;
}

.productview-list-preview product-text img{
	width:250px;
	height:320px;
}
.best-num{
	color: #EF6C33;
	font-size:20px;
	font-weight:800px;
	padding-bottom:5px;
}