.ownermain{
	font-size:20px;
	margin-left: 20px;
}

/*.nonebox{
	weight:50px;
}*/
.fixed_join{
	width: 235px;
}

.op01{
	display:flex;
	margin-top: 35px
}

.op10{
	display:flex;
	margin-top: 35px
}

.ownertext01{
	border-bottom: 2px solid rgb(51, 51, 51);
	margin-top: 38px;
}

.ownertext02{
margin-left: 17px;
}

.ownertext02 input{
	width: 309px;	
}

#salecb{
	width: 25px;
}

.ownerbox{
	text-align: right;
}

.hidetr{
	width: 235px;
}

.dodo{
	margin-left:7px;
}

.ownertext03{
	border-bottom: 2px solid rgb(51, 51, 51);
    margin-top: 38px;	
}

.ownertext04{
	margin-left: 17px;
}

.op04{
	margin-top: 20px;
}

.join_end_btn{
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 240px;
    height: 56px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: #000060;
    border: 0px none;
    }
    
 .form_end {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    border-top: 1px solid rgb(247, 247, 247);
    padding: 40px 0px;
}

#imgInp{
	margin-top: 33px;
}

.op03{
	display:flex;
	margin-top: 35px;
}

.op06{
	margin-top: 64px;
}

#opbt{
	width: 103px;
}
