
   
.all-product-detail-list{
    width:840px;
    padding-bottom:500px;
}

.all-productview{
	    padding-top: 30px;
       margin: auto;
    margin-left: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.all-productview-list{
    display:flex;
}
.all-producttotalnum{
	    margin-left: 30px;
    padding-top: 70px;
    padding-bottom: 30px;
    padding-left: 15px;
    
    border-bottom: navy 1px solid;
  
    font-size:20px;
    font-weight: 800px;
}

.all-productview-list{
    padding-bottom: 50px;
}

.productpaging{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 36px;
}
.productpageing-2:first-of-type{
    border-left: 1px solid rgb(221, 221, 221);
}
.productpaging-2{
    
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    border-top: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
    border-bottom: 1px solid rgb(221, 221, 221);
    border-left: 1px solid rgb(221, 221, 221);
    border-image: initial;

    cursor: pointer;
    
}
.productpaging-3{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    border-top: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
    border-bottom: 1px solid rgb(221, 221, 221);
    border-left: 1px solid rgb(221, 221, 221);
    border-image: initial;
    border-left: none;
    cursor: pointer;
    background-color: rgb(247, 247, 247);
    color: navy;
}
a{background-color: transparent;
    text-decoration: none;
    color: inherit;}

    .all-productview-list-preview{
        padding-right:50px;
    }
   

    .all-product-text {
    padding-top: 5px;
}


    
    .all-productview-list-preview all-product-text img{
	width:250px;
	height:320px;
}

 .searchProduct_bar{
        width: 1px;
        height: 16px;
        margin: 0px 12px;
        background-color: #E1DDDB;
    }
    .all-product-detail-list-main {
   
   
}
div#search_01_toptext {
    display: flex;
    align-items: center;
}

.product-top{
	 display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* 필요한 여백 추가 */
}