@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
*{
margin: 0;}

.productinfocss{
display:flex;
justify-content:space-between;}

.listcss{
width: 550px;}

.css-16c0d8l {
    position: relative;
    width: 1050px;
    margin: 0 auto;
    padding-top: 30px;
}

.listcss-1{
font-color:#878787;
padding-bottom:10px;
font-family: 'Noto Sans KR', sans-serif;
}
.listcss-2{

font-family: 'Noto Sans KR', sans-serif;}
.listcss-1 .listcss-2 .listcss-3 .listcss-4 {
margin:0 auto;}
.listcss-3{
font-size:5px;
color:#d1d1e0;
font-family: 'Noto Sans KR', sans-serif;}
.sale_text {
    position: relative;
}
.sale_text_1{
color:#EF6C33;
    font-weight: bold;
    font-size: 30px;
}
.sale_text_2{
color: #d1d1e0;
    text-decoration: line-through;
    position: absolute;
    padding-left: 70px;
    bottom: 37px;
    position: relative;
    font-size: 20px;
}

.sale_result{
    font-size: 30px;
    font-weight: bold;
    position: relative;
    bottom: 26px;
}
#listcss-5{

color:#EF6C33;
padding-bottom:10px;
font-size:15px;

}

.listcss-6{

padding-top:15px;
display:flex;
width:130px;
border-top: 1px solid #f4f4f4;
}
.listcss-7{
display: flex;
padding-top:15px;
border-top: 1px solid #f4f4f4;
width:100%;
}
.dlcss{
align-items: flex-start;
display: flex;
padding-top: 10px;
}
#dlcss-2 > dl {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
.choice{padding-bottom: 40px;
display:flex;
}
.choice-1{border-bottom: 1px solid rgb(244, 244, 244);}
.choice-2{display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    overflow: hidden;
      width: 550px;
    padding: 17px 0 18px;
    border-top: 1px solid #1c1111;
    font-size: 14px;
    letter-spacing: -0.5px;}
.choice-3{    width: 128px;
    height: 100%;
    color: #666;
    font-weight: 400;
    line-height: 19px;
    font-size: 15px;
    }
.choice-4{    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;}

.choice-5{display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 30px 15px 30px 15px;
    font-size: 12px;
    border-left: 1px solid rgb(244, 244, 244);
    border-top: 1px solid rgb(244, 244, 244);
    border-right: 1px solid rgb(244, 244, 244);
    border-bottom: 1px solid rgb(244, 244, 244);}
.choice-6{display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: flex-start;}

.choice-7{line-height: 16px;
    width: 320px;
    color: rgb(51, 51, 51);
    overflow-wrap: break-word;
        font-size: 15px;
}
.choice-8{
display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding-top: 12px;}
.choice-9{
    display: inline-flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid rgb(221, 223, 225);
    width: 88px;
    border-radius: 3px;
}
.choicebutton-down{
display: inline-flex;
    width: 28px;
    height: 28px;
    border: none;
    font-size: 1px;
    color: transparent;
    background-size: cover;
    background-color: transparent;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAzMCAzMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0yMCAxNHYySDEwdi0yeiIgZmlsbD0iI0RERCIgZmlsbC1ydWxlPSJub256ZXJvIi8+Cjwvc3ZnPgo=);
    vertical-align: top;}
    
.choice-10{    display: inline-flex;
    overflow: hidden;
    white-space: nowrap;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    color: rgb(51, 51, 51);
    text-align: center;
    width: 31px;
    height: 28px;
    line-height: 28px;
}    
.choicebutton-up{
display: inline-flex;
    width: 28px;
    height: 28px;
    border: none;
    font-size: 1px;
    color: transparent;
    background-size: cover;
    background-color: transparent;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAzMCAzMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0xNiAxMHY0aDR2MmgtNHY0aC0ydi00aC00di0yaDR2LTRoMnoiIGZpbGw9IiMzMzMiIGZpbGwtcnVsZT0ibm9uemVybyIvPgo8L3N2Zz4K);
    vertical-align: top;}
/* .choice-11{
display:flex;
padding-top:15px;
border-top: 1px solid #f4f4f4;} */


.choice-12{
    margin-right: 4px;
    font-weight: normal;
    font-size: 15px;
    color: rgb(181, 181, 181);
    text-decoration: line-through;
}
.choice-13 {
    font-size: 25px;
    font-weight: 600;
}
.choice-cart-Info{
	position:relative;
}
.choice-cart{
	position: absolute;
	width: 550px;
     margin-left: 40px;
    display: flex;
	left: 55px;
    align-items: flex-end
}
.choice-cart-2{
	display:flex;
	    flex-direction: column;
border: 2px solid#E1DDDB;
padding: 10px;
}
.choice-button-view{
   
	 border-radius: 3px;
    color: black;
    background-color:#ABDFF1;
    border: 0 none;
     text-align: center;
    overflow: hidden;
    padding:5px;
}


.total{
padding-top: 30px;}
.total-2{display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    align-items: flex-end;
}
.total-3{
padding-right: 12px;
    font-size: 13px;
    font-weight: bold;
    color: rgb(51, 51, 51);
    line-height: 20px;
    
}
.circle{display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    padding-top: 10px;
}
.circle-2{background-color:#ABDFF1;
    margin: 1px 6px 0px 0px;
    padding: 0px 7px;
    border-radius: 10px;
    font-size: 11px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    line-height: 20px;
}

.result{
display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 8px;
    margin-top: 20px;
}
.resultbutton{
display: block;
    padding: 0 10px;
    text-align: center;
    overflow: hidden;
    width: 56px;
    height: 56px;
    border-radius: 3px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;}
    .heart{
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    justify-content: center; align-items: center; display: flex;
    }
    .heartimg{
    border: 0;
    vertical-align: top;
    
    }
    .cart{
       -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:30px;
}
    .cartbutton{
    font-weight: 500;
        display: block;
    padding: 0 10px;
    text-align: center;
    overflow: hidden;
    width: 210px;
    height: 52px;
    border-radius: 3px;
    color: #fff;
    background-color:#000066;
    border: 0 none;
    display: inline-block;}
    .cart-2{
       /*  display: inline-block; */
    font-size: 16px;
    font-weight: 500;
    }
    
     .buy{
        -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;}
    .buybutton{
    font-weight: 500;
        display: block;
    padding: 0 10px;
    text-align: center;
    overflow: hidden;
    width: 210px;
    height: 52px;
    border-radius: 3px;
    color: #fff;
    background-color: #000066;
    border: 0 none;
    display: inline-block;}
    .buy-2{
       /*  display: inline-block; */
    font-size: 16px;
    font-weight: 500;
    }
    
    .how-1 {
    display:flex;
    justify-content: space-between;
    margin-top:10px;}
   
   .how-2{
  }
 /*   .how3 .how4{
    display:inline-block;
  }  */
  
 /* .how2 .how3 .how4{
    align-content: space-between;
  }  */
  
  .howname{
  display:flex;}
  
  .how-2 {
  width:300px;}
  
   .how-3 {
  width:300px;}
  
   .how-4 {
  width:300px;}

.info{
z-index: 20;
    position: -webkit-sticky;
    position: sticky;
    top: 56px;
    width: 1010px;
    box-shadow: inset 0 -0.5px 0 0 #ddd;
    background-color: #fff;
    margin-top: 50px;
}
.info-1{
display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 60px;
}
.info-2{
display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 60px;}
    .info-3{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-width: 1px 1px 1px 1px;
    border-color: #eee;
    border-style: solid;
    background-color: #fafafa;
    }
    .info-4{
        display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}
.info-5{
    font-size: 16px;
    font-weight: 500;
    color: #666;
}

.info-4 .active {
    background-color: #fff;
}
a:active, a:hover {
    outline: 0;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}

.info-3 .active .info-5, .info-3 .active .count {
    color: #000066;
}
.info-3 .info-5 {
    font-size: 16px;
    font-weight: 500;
    color: #666;
}

#inf-6 > ol, ul {
    padding-left: 0rem; 
}

.homp-2:first-of-type {
    padding-top: 40px;
}
.homp-2 {
    width: 1010px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.homp-3 {
    width: 1010px;
    text-align: center;
}

.context-last{
padding-top:50px;
}

img, svg {
    vertical-align: middle;
}
#toDisplay{
	display:none;
}